html {
  background-color: $light;
}

table {
  background-color: $greenish;
}

.is-primary, .is-active > a {
  background-color: $blue !important;
  border-color: $blue !important;
}

.is-warning {
  background-color: $yellow !important;
  border-color: $yellow !important;
}

.is-danger {
  background-color: $red !important;
  border-color: $red !important;
}

a, i, strong {
  color: $dark;
}

.noty_type__error {
  background-color: $red !important;
}

.noty_type__success {
  background-color: $blue !important;
}

.text {
  margin: 10px;
}
