.button.is-primary {
  background-color: #3273DC;
}
.stats, .main {
  padding: 0;
  width: 900px;
  margin: 0 auto;
}
.stats {
  padding-top: 20px;
}
.nav {
  padding: 25px;
}
.caffeine-section {
  margin-bottom: 10px !important;
}
